.modalContent {
  position: absolute;
  background-color: lightgreen;
  max-height: 75%;
  left: 0;
  right: 0;
  bottom: -100%;
  -webkit-overflow-scrolling: touch;
  outline: none;
  overflow: auto;
}

.modalContentAfterOpen {
  animation: slideFromBottom 0.4s ease-out forwards;
}

.modalContentBeforeClose {
  animation: slideToBottom 0.3s linear forwards;
}

@keyframes slideFromBottom {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

@keyframes slideToBottom {
  from {
    bottom: 0;
  }
  to {
    bottom: -100%;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modalOverlayAfterOpen {
  animation: overlayFadeIn 0.4s ease-out forwards;
}

@keyframes overlayFadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes overlayFadeOut {
  from {
    background-color: rgba(0, 0, 0, 0.6);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

.modalOverlayBeforeClose {
  animation: overlayFadeOut 0.3s linear forwards;
}
